// общее
body {
    font-family: $basic-font;
    font-size: 1.125rem; //18
    margin: 0;
    padding: 0;
    background-color: $dark-color;
    color: $light-color;
}

.container{
    max-width: 1116px;
    margin: 0 auto;
}

.container-expanded{
    width: 100%;
    margin: 0 auto;
}

.link{
    text-decoration-line: none;
    color: $light-color;

    &:hover{
        color: $accent-link;
        transition: 1s;
        font-size: larger;
    }
    &__colored{
        color: $dark-color;
    }

    &-image{
        display: inline-block;

        &:hover{
            transform: scale(1.25);
            transition: transform 0.3s ease;
        }
    }
}

.line{
    height: 1px;
}


.form{
    padding-top: 2.55rem;

    &:hover{
        transform: scale(1.1);
        transition: 0.3s ease;
        border-radius: 7%;
    }

    &__moved{
        padding-top: 1.5rem;
    }

    &__miniaturized{
        padding-top: 0.1rem;
    }

    &-address{
        position: relative;

        &__input {
            padding-right: 10.3rem;
            background: transparent;
            border: none;
            border-bottom: 2.35px solid $light-color; 
            color: $light-color;
            font-size: 1.125rem;
            padding-bottom: 0.5rem;

            &::placeholder {
                font-family: $basic-font;
                color: $placeholder-color;
                font-size: 1.125rem;
                font-weight: 300;
            }

            &:focus {
                outline: none;     
            }

            &__colored{
                border-bottom: 2.35px solid $dark-color; 
                padding-right: 3.7rem;
                color: $dark-color;

                &::placeholder {
                    color: $contacts-color;
                    font-size: 1.375rem;
                    font-weight: 300;
                }
            }

            &__moved{
                padding-right: 6.5rem;
                font-size: 0.875rem;
            }
        }

        &__submit {
            position: absolute;
            top: 10%;
            right: 0;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }
}

.logotype{
    &__moved{
        padding-top: 1rem;
    }
}
