.contacts{
    background-color: $light-color;

    &-container{
        display: flex;
        flex-wrap: wrap;
    }

    &-image__img{
        display: block;
        width: 100%;
    }

    &-info{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
    }

    &-blocks{
        display: flex;
        flex-direction: column;
        color:$dark-color;
        text-transform: uppercase;
        justify-content: center;
        align-items: flex-start;
        padding-right: 1.6rem;
        gap:6rem;
    }

    &-block{
        display: flex;
        flex-direction: column;
        gap: 0.65rem;

        &__moved{
            gap: 0.95rem;
        }

        &__phone{
            margin: 0;
        }

        &__label{
            font-weight: 400;
            font-size: 1.125rem;
            text-transform: uppercase;
            margin: 0;
            padding-top: 0.85rem;
            letter-spacing: 0.06rem;

            &__moved{
                padding: 0 0 1.2rem;
            }

            &__miniaturized{
            font-size: 0.875rem;
            padding: 0;
            letter-spacing: 0.045rem;
        }
        }

        &__link{
            text-decoration-line: none;
            color:$contacts-color;    
            font-size: 1.375rem;
            font-weight: 300;

            &__miniaturized{   
            font-size: 1.125rem;
            }
        }
    }
}
