.footer {
    background-color: $dark-color;
    color: $light-color;
    padding: 5rem 0;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 5.64rem;
    }

    &-navbar {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        &__element {
            font-size: 0.875rem;
            font-weight: 450;
            text-transform: uppercase;
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.05rem;
            text-align: center;
        }
    }

    &-bar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-contacts {
        text-transform: uppercase;
        display: flex;
        gap: 4.97rem;
        flex-wrap: wrap;
    }
}

.apps {
    display: flex;
    gap: 0.9rem;
}
    
.app{
    padding: 0;
    border-radius: 7%;
    border: 1px solid $material-light-color;
    transition: 0.4s ease;

        &:hover{
            transform: scale(1.05);
        }

    &__link{
        display: block;
        padding: 0.86rem 2.75rem;
    }

    &__appstore{
        background-image: url(../IMAGES/appstore.png);
    }

    &__googleplay{
        background-image: url(../IMAGES//google.png);
    }
}
