.gender{
    background-color: $light-color;
    
    &-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem; //почти 21
    padding: 1.3rem 0;
    }

    &-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14rem 8.6rem 14.69rem;



    &__male{
        background-image: url(../IMAGES/male.png);
        background-size: cover;
    }
    &__female{
        background-image: url(../IMAGES/female.png);
        background-size: cover;
    }


    &__switch{
        font-size: 1.5rem; //24
        font-weight: 300;
        margin: 0;
    }

    &__header{
        font-family: $header-font;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 0.14rem;
        text-align: center;
        margin: 0;
        transition: 0.4s ease;

        &:hover{
            color: $price-light-color;
            font-size: 4.2rem;
        }
    }

    &__line{
        padding-top: 1.55rem;
    }
    }
}