// главная секция
.hero{
    display: flex;
    justify-content:center;
    background: linear-gradient(to right, $light-color 61%, $dark-color 39%);


    &-container{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "main-block"
                             "main-bottom";
    }

    &-block{
        padding: 15.8rem 14rem 0 0; //==252 //224
        grid-area: main-block;
        color: $dark-color;
        display: grid;
        grid-template-columns: 53% 36%;
        column-gap:5.875rem; //94
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "main-block__header main-block-ring"
                             "main-block-collection main-block-ring";


        &__header{
            font-family: $header-font;
            font-size: 4rem; //64
            font-weight: 400;
            grid-area: main-block__header;
            margin: 0;
            letter-spacing: 0.13rem;
            padding: 0.5rem 4.6rem 0 0;
            white-space: nowrap;
        }

        &-collection{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 2.375rem; //38
            grid-area: main-block-collection;
            padding-bottom: 1.1rem;

            
            &__text{
                margin: 0;
            }

            &__line{
                height: 1px;
                padding-bottom: 0.5rem;
            }

            &__link{
                font-family: $mark-font;
                font-weight: 300;
                font-style: italic; 
                color: $dark-color;
            }
        }

        &-ring{
            grid-area: main-block-ring;
            display: flex;
            align-items: center;

            &__image{
                display: block;
            }
        }
    }

    &-bottom{
        grid-area: main-bottom;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0 0.3rem 3.875rem 0; //62
        
    }
}

.language {
    display: flex;
    gap: 0.7rem; //=====10

    &__point {
        font-family: $basic-font;
        font-size: 1rem; //16
        padding: 0;
        font-weight: 400;
        color: $language-passive-color;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.2s ease;
        
        &__active {
            color: $dark-color;
        }
    }
}
