
@media all and (max-width: 1400px) {
    .catalog{
        &-container{
            grid-template-columns: auto auto;
            grid-template-rows: repeat(3, 1fr);
            padding: 1.1rem;
        }
    }

    .jewel{
        &__backgrounded{
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }
    }
}
    
    
@media all and (max-width: 1200px) {

    .header{
        &-container{
            padding: 3.75rem 5rem;
        }
    }

    .hero{
        &-block{
            padding: 15.8rem 4rem 0;
            column-gap: 2rem;
        }

    }

    .contacts{
        
        &-image{
            width: 100%;
            display: flex;
        }

        &-blocks{
            padding: 4rem 1.5rem;
            gap: 3rem;
        }
    }
    
    .footer{
        &-container{
            padding: 0 5rem;
            gap:3rem;
        }

        &-navbar {
        justify-content: center;
        gap:2rem
        }

        &-bar{
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            gap:3.5rem;
        }
    }
}



@media all and (max-width: 1024px) {
    .menu{

        &-list{
            display: none;
        }
    }
    
    .hero{
        
        &-block{
            grid-template-columns: auto;
            column-gap: 1.7rem;
            padding: 15.8rem 1.5rem 0;

            &__header{
                font-size: 3.5rem;
                padding: 0;
            }

            &-ring{
                max-width: 15rem;

                &__image{
                    display: block;
                    width: 100%;
                }
            }
        }

        &-bottom{
            padding:0 0 3rem;
        }
    }

    .gender{
        &-container{
            grid-template-columns: auto;
        }
    }

    .map{

        &-container{
            justify-content: center;
        }
        &-block{
            padding: 7rem;
            
        }

        &-card__link{
            min-height: 25rem;
        }
    }
}


@media all and (max-width: 768px) {

    .header{        
        background: $light-color;
    }
    .menu{

        &-burger{

            &__image{
                filter: brightness(0) saturate(100%) invert(0);
            }
        }

        &-list{
            display: none;
        }
    }

    .hero{
        background: $light-color;

        &-container{
        grid-template-rows: auto;
        }

        &-block{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 5rem;               
        }
    }

    .jewel-link{
        color: $dark-color;
    }

    .map-block{
        padding: 4rem 2rem;
    }

     .catalog{
        &-container{
            grid-template-columns: auto;
            grid-template-rows: repeat(5, 1fr) ;
        }
    }
    .jewel{

        &:hover{
        transform: none;
        box-shadow: none;
        }  

        &__backgrounded{
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            
            background-image: url(../IMAGES/jewel_2__cut.png);

        }
    }

    .posts{
        &__header{
            padding: 0 3rem;
        }
        &-block{
            padding: 0 3rem;
            display: grid;
            grid-template-areas: "controls"
                                 "social-medias";
            gap:3rem;
        }
    }

    .embla__controls{
        grid-area: controls;
    }

    .social-medias{
        grid-area: social-medias;
    }

    .contacts{
        
        &-block{
            
            &__moved{
                align-items: center;
            }
        }
    }

    .footer{
        &-contacts{
            gap:2rem;
            justify-content: center;
        }
    }

    .apps{
        justify-content: center;
    }

    .block-link{
        &:hover{
        transform: none;
        box-shadow: none;
        }  
    }
    
    .map-card{
        &:hover{
        transform: none;
        box-shadow: none;
        }  
    }
}



@media all and (max-width:576px){
    .logotype__image{
        max-width: 12rem;
        &__contant{
            max-width: none;
        }
    }

    .header{
        &-container{
            padding: 3.75rem 2rem;
        }
    }

    .menu-burger__image{
        max-width: 1.5rem;
    }

    .hero{
        &-block{
            padding: 2rem;
        }
    }

    .gender{
        &-section{
            padding: 5rem 2rem;
        }
    }

    .map-block{
        padding: 4rem 2rem;

        &__header{
            font-size: 2.5rem;
        }

        &__text{
            font-size: 0.9rem;
        }
    }

    .jewel{

        &-block{
            padding: 2rem 0; 

            &__image{
                max-width: 12rem;
            }
        }

    }

    .footer{
        &-container{
            padding:0 1rem;
        }
    }
}

@media all and (max-width:425px){

    .form{
        padding-top: 1.5rem;

        &__miniaturiaed{
            width: auto;
        }
        &-address{
            max-width: 16rem;

            &__input {
                padding-right: 3rem;

                &::placeholder {
                    font-size: 0.9rem;
                }

                &__moved{
                    padding-right: 2rem;
                }
            }

            &__submit {
                position: absolute;
                top: 10%;
            }
        }
    }

    .hero{
        &-block{
            padding: 0 1.2rem;

            &__header{
                font-size: 2.5rem;
            }

            &-collection{
                font-size: 0.8rem;
                gap: 0.2rem;
            }
        }
    }

    .jewel-info__aligned{
        visibility: hidden;
    }

    .posts-block{
        padding: 0 1rem;
    }
    .embla__controls{
        gap:0.5rem;
    }
}
