$light-color: #ffffff;
$dark-color: #272727;
$material-light-color:#C2C2C2;
$material-dark-color:#757575;
$price-light-color: #EFC58B;
$price-dark-color: #E2B67A;
$language-passive-color: #C4C4C4;
$placeholder-color: #FFFFFF66;
$jewel-background:#EDEDED;
$jewel-material-middle: #E7E7E7;
$contacts-color: #959595;
$inert-dot-color: #656565;
$accent-link:#0a5d4c;


$header-font: "Forum", serif;
$basic-font: "Futura PT", serif;
$mark-font: "Segoe UI", serif;