body{
    background-image: url(../IMAGES/tsera.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Forum', serif;
    color: #eddfc0;
    overflow-y: hidden;
}

.container{
    max-width: 1116px;
    margin: 0 auto;
}

.error{
    &-container{
        padding: 4.2rem 0;
    }

    &-block{
        &__header{
            font-size: 20rem;
            margin: 0;
            line-height: 90%;
        }

        &__quote{
            font-size: 2rem;
            max-width: 33rem;
            margin: 0;
        }

        &__paragraph{
            font-size: 1.3rem;
            max-width: 36rem;
        }

        &__button{
            padding: 0.8rem 4rem;
            font-family: 'Forum', serif;
            font-style: italic;
            font-size: 1.3rem;
            border: 3px solid #eddfc0;
            background-color: #000000;
            color: #ffffff;
            border-radius: 30px;
            transition: 0.4s ease;

    
            &:hover{
                transform: scale(1.007);
                transform-origin: right center;
                box-shadow: 0 0.2rem 0.2rem #eddfc0;
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .error{

        &-block{
            padding: 3rem;
        }
    }
}


@media all and (max-width: 768px) {
    body{
        background-size: auto;
    }
}


@media all and (max-width: 576px) {
    .error{
        &-block{
            padding: 2rem;

            &__header{
                font-size: 11rem;
            }

        &__quote{
            font-size: 1.6rem;
        }

        &__paragraph{
            font-size: 1rem;
        }

        &__button{
            padding: 0.5rem 2rem;
            font-size: 1rem;
        }
        }
    }
}